.BlockOverallWrapper{
    width:auto;
    padding-bottom: 1px;
    direction: rtl;
    position:relative;
}

.simplelayout-block-wrapper{
    margin: 0px !important;
    padding: 0px !important;
    width:auto;
    direction:ltr;
}

.simplelayout-block-wrapper a {
    line-height: 1.5em;
}

.sl-fullblock {
    margin-bottom:1em;
}

.sl-text-wrapper ul,
.sl-text-wrapper ol {
    overflow: auto;
    padding-left: 20px;
}

/* We dont need this generally */
/*.sl-img-wrapper,
.sl-text-wrapper {
    padding-right:10px;
}
*/

/* Image paddings */
.sl-img-wrapper.SLNoPaddingRight{
    padding-right:0;
}


.sl-img-wrapper.SLPaddingRight {
        padding-right:1em;
}


.sl-fullblock .sl-img-wrapper{
    margin-right:0em;
    margin-bottom: 1em;
}

/*left-float*/
.sl-img-small .sl-img-wrapper,
.sl-img-middle .sl-img-wrapper {
	float:left;
    margin-bottom: 1em;
    margin-right: 1em;
}

/*right-float*/
.sl-img-small-right .sl-img-wrapper,
.sl-img-middle-right .sl-img-wrapper {
	float:right;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right:0em;
}


/* fix for diffrent paddings */
#region-content .simplelayout-block-wrapper h3 {
    margin-top:0.9em;
}

/*no image*/
.sl-img-no-image .sl-img-wrapper{
	display:none;
}

.sl-controls{
    padding:0;
    padding-top:0.5em;
    display:none;
    float:right;
    position: absolute;
    margin-bottom: -4em;
    z-index: 1;
    opacity:0;
    direction:ltr;
}

.sl-controls img{
    padding:0;
    margin:0px;
    display:inline;
}

.sl-controls .sl-obj-actions{
    float:left;
	font-weight:bold;
	list-style-type:none;
	list-style-image: none;
}


#content .sl-controls .sl-obj-actions li,
#content .sl-controls .sl-obj-layouts li{
    display:block;
	border: 1px solid #d3d3d3;
    background: #ededed; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9) to(#ededed)); /*old webkit*/
    background: -webkit-linear-gradient(#f9f9f9, #ededed); /*new webkit*/
    background: -moz-linear-gradient(#f9f9f9, #ededed); /*gecko*/
    background: -ms-linear-gradient(#f9f9f9, #ededed); /*IE10*/
    background: -o-linear-gradient(#f9f9f9, #ededed); /*opera 11.10+*/
    background: linear-gradient(#f9f9f9, #ededed); /*future CSS3 browsers*/
    float:left;
    padding:0.5em;
}

#content .sl-controls .sl-actions-wrapper ul {
    margin-top:0em;
}

#content .sl-controls .sl-obj-actions li:hover,
#content .sl-controls .sl-obj-layouts li:hover{
    background: #ededed; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed) to(#f9f9f9)); /*old webkit*/
    background: -webkit-linear-gradient(#ededed, #f9f9f9); /*new webkit*/
    background: -moz-linear-gradient(#ededed, #f9f9f9); /*gecko*/
    background: -ms-linear-gradient(#ededed, #f9f9f9); /*IE10*/
    background: -o-linear-gradient(#ededed, #f9f9f9); /*opera 11.10+*/
    background: linear-gradient(#ededed, #f9f9f9); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#ededed, #f9f9f9); /*PIE*/
}

.sl-controls .sl-obj-actions li a{
    border:none;
}

#content .sl-controls .sl-obj-layouts{
    float:left;
	display:inline;
	list-style-type:none;
	list-style-image: none;
}

.sl-controls .document-action-dragme a {
  display: block;
  background-image: url(++resource++sl/icons/icon_move.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 18px;
}

.sl-controls .sl-layout.active img{
	background-color:orange;
	border:1px solid orange;
}

.sl-controls .sl-layout a:hover img{
	background-color:orange;
	border:1px solid orange;
}
.sl-controls .sl-layout img{
    border:1px solid grey;
	padding:0px;
}

#content .sl-controls .sl-workflowChanger dl{
    margin:0;
    padding:0;
}

#content .sl-controls .sl-workflowChanger dt {
    margin:0 0.25em;
}

#content .sl-controls .sl-workflowChanger li {
    display:inline;
}

.sl-workflowChanger #contentActionMenus {
    right:0;
}


.sl-controls .actionMenu .actionMenuContent {
    top:1.5em;
    background-color:#DEE7EC;
    float:left;
}

.sl-controls .actionMenu .actionMenuContent ul {
    background-color:transparent;
    border-color:#8CACBB;
}

.actionMenu .actionMenuContent .actionSeparator a {
    border-top:1px solid #8CACBB;
}

div.documentActions ul.simplelayout{
    margin:0.5em !important;
}

.simplelayout-file-block-wrapper .documentDescription {
    font-weight:normal;
    font-size:85%;
    padding-left:20px;
}

.blockHighlight {
    border-bottom:1px solid #8CACBB;
    padding-bottom:0px;
    background-color:#DEE7EC;
}


.simplelayout-content div[id*=slot] {
  padding: 1px;
}

.highlightBorder {
    border:1px dotted #8CACBB;
    padding: 0px !important;
}


.leftFloatable {
  float: left;
}

.leftFloatable .simplelayout-block-wrapper .sl-img-wrapper {
    margin-right:0em;
}

.visualClear {
    height:0;
    line-height:0;
    display:block;
}
.blockClear {
clear:both;
}

.sl-img-wrapper p {
    margin: 0;
}

.Linkdescription {
    padding-left: 16px;
}

.Filedescription {
    padding-left:20px;
}


.linkTitle a{
    display:block;
}

.fileTitle {
    background-repeat:no-repeat !important;
    padding-left:20px !important;
    display:block;
}

.fileTitle .discreet {
    text-decoration:none;
}

/* IE float fix*/
*+html .simplelayout-content,
*+html .sl-controls {
    height:0.1%;
}

.simplelayout-content.two-columns-design .twocolumn {
    width:49.7%;
    float:left;
}

.sl-toggle-edit-bar-wrapper,
.sl-toggle-edit-bar-wrapper:hover {
	border: 1px solid #d3d3d3;
    background: #ededed; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9) to(#ededed)); /*old webkit*/
    background: -webkit-linear-gradient(#f9f9f9, #ededed); /*new webkit*/
    background: -moz-linear-gradient(#f9f9f9, #ededed); /*gecko*/
    background: -ms-linear-gradient(#f9f9f9, #ededed); /*IE10*/
    background: -o-linear-gradient(#f9f9f9, #ededed); /*opera 11.10+*/
    background: linear-gradient(#f9f9f9, #ededed); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#f9f9f9, #ededed); /*PIE*/
    height:2.5em;
    width:1em;
    float:right;
}

.sl-toggle-edit-bar-wrapper:hover {
    background: #ededed; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed) to(#f9f9f9)); /*old webkit*/
    background: -webkit-linear-gradient(#ededed, #f9f9f9); /*new webkit*/
    background: -moz-linear-gradient(#ededed, #f9f9f9); /*gecko*/
    background: -ms-linear-gradient(#ededed, #f9f9f9); /*IE10*/
    background: -o-linear-gradient(#ededed, #f9f9f9); /*opera 11.10+*/
    background: linear-gradient(#ededed, #f9f9f9); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#ededed, #f9f9f9); /*PIE*/
}

.sl-toggle-edit-bar {
    left: -0.2em;
    top: 0.6em;
    position:relative;
}

.sl-actions-wrapper {
    float:right;
}
